		*{
			margin:0;
			padding:0;
		}
		#calendar{
			background:url(washout1.jpg) top left no-repeat #369;
			width:631px;
			height:905px;
			margin:auto;
			list-style:none;
			position:relative;
		}
		#pic{
			background:url(washout2.jpg) top left no-repeat #369;
			width:631px;
			height:885px;
			margin:auto;
			list-style:none;
			position:relative;
			padding-top:20px;
		}
		#pic a img{
			display:block;
			margin:0 auto;
			border:5px solid #fff;
		}
		#calendar li{
			list-style:none;
		}
		#calendar li a{
			border:2px solid #fff;
			display:block;	
			width:50px;
			font-weight:bold;
			color:#fff;
			text-decoration:none;
			font-family:"trebuchet ms",Verdana,sans-serif;
			padding:60px 10px 10px 10px;	
			position:absolute;	
		}
		#calendar li a.done{
			border:2px solid #369;
			color:#fff;
		}
		#calendar li a:hover{
			background:#fff;
			color:#000;
			filter:alpha(opacity=50); -moz-opacity: 0.5; opacity:
0.5; -khtml-opacity: 0.5; 
		}
		
		
		/*  =daylinks */

		#l1{
			left:200px;
			top:30px;
		}
		#l2{
			left:60px;
			top:420px;
		}
		#l3{
			left:500px;
			top:220px;
		}
		#l4{
			left:490px;
			top:120px;
		}
		#l5{
			left:20px;
			top:700px;
		}
		#l6{
			left:120px;
			top:160px;
		}
		#l7{
			left:300px;
			top:400px;
		}
		#l8{
			left:300px;
			top:800px;
		}
		#l9{
			left:20px;
			top:170px;
		}
		#l10{
			left:35px;
			top:560px;
		}
		#l11{
			left:40px;
			top:805px;
		}
		#l12{
			left:530px;
			top:580px;
		}
		#l13{
			left:100px;
			top:300px;
		}
		#l14{
			left:480px;
			top:805px;
		}
		#l15{
			left:200px;
			top:320px;
		}
		#l16{
			left:10px;
			top:20px;
		}
		#l17{
			left:500px;
			top:420px;
		}
		#l18{
			left:200px;
			top:640px;
		}
		#l19{
			left:400px;
			top:400px;
		}
		#l20{
			left:500px;
			top:700px;
		}
		#l21{
			left:200px;
			top:500px;
		}
		#l22{
			left:100px;
			top:17px;
		}
		#l23{
			left:540px;
			top:20px;
		}
		#l24{
			left:290px;
			top:520px;
		}

		#l25{
			left:410px;
			top:550px;
		}

.longbutton{
cursor:pointer;	
border-top-width:2px;
border-top-style:solid;
border-top-color:#464646;	
border-left-width:2px;
border-left-style:solid;
border-left-color:#464646;	
border-right-width:2px;
border-right-style:solid;
border-right-color:#232323;	
border-bottom-width:2px;
border-bottom-style:solid;
border-bottom-color:#232323;
width:110px;
background:url(img/button.gif) repeat-x left top;
color:#004973;
font-size:14px;
}